@use 'colors' as colors;

main {
  color: white;
  padding: 16px;
  background-color: colors.$main-background-color;
  border-radius: 16px;
  border: 1px solid colors.$nav-highlighted-text;
  margin-top: 16px;
  padding: 48px 96px;

  p, strong, li {
    font-size: 24px;
  }

  h2 {
    font-weight: 300;
    font-size: 36px;
    color: colors.$nav-highlighted-text;
    text-decoration: underline;
  }

  .concerts-container {
    border-top: 1px solid colors.$nav-highlighted-text;
    margin-top: 34px;
    
    p {
      font-size: 24px;
    }
  }

  .about-container {
    border-top: 1px solid colors.$nav-highlighted-text;
    margin-top: 34px;
  }
}

.join-bmm-btn {
  background-color: colors.$nav-highlighted-text;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  a {
    color: black !important;
    font-size: 24px;
    text-align: center;
  }

  &:hover {
    border: 1px solid white;
    margin-bottom: -2px;
  }
}

.map-container {
  width: 75%;
  height: 400px;
  margin: auto;
}
#bmmMap {
  width: 100%;
  height: 400px;
}

@media only screen and (max-width: 980px) {
  main {
    padding: 48px;
  }

}